@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Noto+Serif&display=swap");

header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
  font-family: "Montserrat", sans-serif;
  border-bottom: 0.3rem solid #f0f0f0;
}

.logo {
  display: flex;
  align-items: center;
}

.logo_part_one {
  font-size: 3rem;
  transform: rotateZ(-90deg);
  font-weight: medium;
}

.logo_part_two {
  font-size: 6rem;
  font-weight: bold;
}

nav {
  margin: 1rem;
}

.navigation {
  list-style: none;
  display: flex;
  width: 100rem;
  justify-content: space-evenly;
}

.nav-link {
  text-decoration: none;
  color: #000000;
  font-size: 1.7rem;
}

.drop-down-icon {
  display: none;
}

.mobile-links {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.links {
  color: black;
  text-decoration: none;
  font-size: 3rem;
  padding: 2rem;
  border-bottom: 0.3rem solid #f0f0f0;
}

@media (max-width: 430px) {
  header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border: 0;
    padding: 1.5rem 2.4rem;
    box-shadow: 0 0.7rem 0.6rem #0000001a;
  }

  .drop-down-icon {
    display: block;
  }

  nav {
    display: none;
  }

  .logo_part_one {
    font-size: 2.5rem;
  }

  .logo_part_two {
    font-size: 4rem;
  }
}
